
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between z-index-2 px-4" role="navigation" >

    <div class="navbar-brand py-3"><%= link_to "Burnout Fitness Tracker", root_path, class: "navbar-brand" %> </div>
    <div class="collapse navbar-collapse d-flex justify-content-end fs-5">
      <ul class="navbar-nav">

      <!-- Contditional View -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Add New Activity', new_activity_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'My Activities', activities_path, class: "nav-link"%>
        </li>

        <%= link_to 'Edit Profile', edit_user_registration_path, class:'nav-link' %>
        
        <%= link_to 'Log Out', destroy_user_session_path, class:'nav-link', method: :delete %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'About Us', home_about_path, class: "nav-link"%>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_registration_path, class:'nav-link' %>
        </li>
        <li>
          <%= link_to 'Sign In', new_user_session_path, class:'nav-link', type: 'button' %>
        </li>
      <% end %>


          </ul>
        </li>


      </ul>
    </div>

</nav>



