
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between z-index-2" role="navigation" >
  <div class="container">
    <div class="navbar-brand py-3"><%= link_to "Burnout Fitness Tracker", root_path, class: "navbar-brand" %> </div>
    <div class="collapse navbar-collapse d-flex justify-content-end fs-5">
      <ul class="navbar-nav">

      <!-- Contditional View -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Add New Activity', new_activity_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'My Activities', activities_path, class: "nav-link"%>
        </li>
          <button type="button" class="btn btn-outline-warning ms-5 px-5">
            <%= link_to 'Log Out', destroy_user_session_path, class:' text-decoration-none text-light fw-bold', method: :delete %>
        </button>
      
        
      <% else %>
        <li class="nav-item">
          <%= link_to 'About Us', home_about_path, class: "nav-link"%>
        </li>
        <button type="button" class="btn btn-outline-warning ms-5 px-5">
          <%= link_to 'Sign Up', new_user_registration_path, class:'text-light fw-bold text-decoration-none' %>
        </button>
        <button type="button" class="btn btn-outline-warning ms-5 px-5">
          <%= link_to 'Sign In', new_user_session_path, class:'text-light fw-bold text-decoration-none' %>
        </button>
      <% end %>


          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>



