<div class="container">
  <div class="main about-container">
    <h1 class="text-warning fw-lighter">About Burnout Fitness Tracker</h1>
    <div class="fw-light fs-5 text-end tagline">
      Welcome to Burnout Where You
      Will Become  <br> a Pyromaniac about burning calories.
    </div>
  </div>
      <div class="w-md-25 d-flex about-content">
        <ul class="text-end">
          <li class="d-flex justify-content-between">
            <i class="animate__animated animate__fadeInDownBig fas fa-running align-self-center ms-3"></i>
            <%= link_to "Running", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-biking align-self-center ms-3"></i>
              <%= link_to "Cycling", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-swimmer align-self-center ms-3"></i>
              <%= link_to "Swimming", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-hockey-puck align-self-center ms-3"></i>
              <%= link_to "Hockey", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-skating align-self-center ms-3"></i>
              <%= link_to "Ice Skating", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-table-tennis align-self-center ms-3"></i>
              <%= link_to "Table Tennis", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-futbol align-self-center ms-3"></i>
              <%= link_to "Football", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-snowboarding align-self-center ms-3"></i>
              <%= link_to "Snowboarding", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-dumbbell align-self-center ms-3"></i>
              <%= link_to "Weight Training", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
            <li class="d-flex justify-content-between"><i class="animate__animated animate__fadeInDownBig fas fa-skiing-nordic align-self-center ms-3"></i>
              <%= link_to "XC Skiing", home_about_path, class: "text-end text-decoration-none ms-5 animate__animated animate__fadeInRight text-light" %>
            </li>
        </ul>
    </div>
</div>