
<h1 class="text-center p-3 text-warning">Activity Log</h1>

<br>

<table class="table table-dark table-hover w-75 m-auto">
    <thead class="text-warning">
    <tr>
      <th class="text-center fw-lighter fs-4">Activity</th>
      <th class="text-center fw-lighter fs-4">When</th>
      <th class="text-center fw-lighter fs-4">How Long</th>
      <th class="text-center fw-lighter fs-4">Edit This Activity</th>
      <th class="text-center fw-lighter fs-4 d-none d-lg-block">Remove This Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr class="text-center">
        <td><%= link_to activity.name, activity, class:'text-warning text-decoration-none fs-5 m-5' %></td>
        <td><%= activity.acivity_date.strftime("%B %d, %Y") %></td>
        <td><%= activity.duration %></td>
        
        <td><%= link_to 'Edit', edit_activity_path(activity), class:'text-light btn btn-outline-warning px-3' %></td>
        <td><%= link_to 'Remove Activity', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-danger d-none d-lg-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Activity', new_activity_path, class:'btn btn-warning d-flex justify-content-center w-25 mx-auto my-5' %>